<!DOCTYPE html>
 
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Alberto Kerim, Nino Nogić, Petar Pandža">
        <meta name="keywords" content="">

        <title>Dashboard</title>

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/styleSettings.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    </head>

    <body>

        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/dashboard" class="logo">
                <i class='bx bx-code-alt'></i>
                <div class="logo-name"><span>City</span>CTRL</div>
            </a>
            <ul class="side-menu">
                <li><a href="/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
                <li><a href="/notifications"><i class='bx bx-message-square-dots'></i>Notifications</a></li>
                <li class="active"><a href="/parkingMap"><i class='bx bx-message-square-dots'></i>Parking map</a></li>
                <li><a href="/reports"><i class='bx bx-clipboard'></i>Reports</a></li>
                <li><a href="/settings"><i class='bx bx-cog'></i>Settings</a></li>
            </ul>
            <ul class="side-menu">
                <li>
                    <a href="/dashboard/logout" class="logout">
                        <i class='bx bx-log-out-circle'></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <!-- End of Sidebar -->

        <!-- Main Content -->
        <div class="content">
            <!-- Navbar -->
            <nav>
                <i class='bx bx-menu'></i>
                <form action="#">
                  
                </form>
                <i class='bx bxs-moon'></i><input type="checkbox" id="theme-toggle" hidden>
                <label for="theme-toggle" class="theme-toggle"></label>
                <a href="/settings" class="profile">
                    <img src="images/profile-1.jpg">
                </a>
            </nav>

            <!-- End of Navbar -->
            <main>
                <div class="header">
                    <div class="left">
                        <h1>Parking usage map</h1>
                    </div>
                </div>

                <br>

                <div id="map" style="width: 100%; height: 500px;"></div>
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                <script src="/js/map.js"></script>

                <br><br>

                <div class="header">
                    <div class="left">
                        <h2>Reserve parking spot</h2>
                    </div>
                </div>

                <div class="py-2">
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="plate">Plate numbers</label>
                            <input type="text" class="bg-light form-control" placeholder="Plate number">
                        </div>
                        
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="dateEnd">Hours of reservations</label>
                            <input type="time" class="bg-light form-control" placeholder="Hours">
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="a">Address</label>
                            <input type="text" class="bg-light form-control" placeholder="Address">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="dateEnd">Type of spot</label>
                           
                    
                            <div class="arrow">
                                <select name="type" id="type" class="bg-light">
                                    <option value="regular" selected>Regular</option>
                                    <option value="cripple">Handicaped</option>
                                    <option value="regular">Electric</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="a">Price</label>
                            <input type="text" class="bg-light form-control" placeholder="Up to $">
                        </div>
                    </div>
                    <div class="py-3 pb-4 border-bottom">
                        <button class="btn btn-primary mr-3">Reserve</button>
                    </div>
                </div>

                <div class="bottom-data">
                    <div class="orders">
                        <div class="header">
                            <i class='bx bx-receipt'></i>
                            <h3>My reservation</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Plate</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>ZG-9872-BL</td>
                                    <td>9 11 2020</td>
                                    <td>9 11 2020</td>
                                    <td><button class="button-4" role="button" style="color: red;">Cancel</button></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                    <!-- End of Reminders-->
                </div>
<br><br>
            </main>

        </div>

        <script src="./js/index.js"></script>
    </body>

</html>