<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="./css/login.css">
    </head>

    <body>
        <div class="container flex">
            <div class="login-page flex">
                <div class="text">
                    <h1>City-CTRL</h1>
                    <p>Find your parking spot with</p>
                    <p> best IOT solutions</p>
                </div>
                <form action="/registerNewUser" method="post">
                    <input type="text" placeholder="Name" required>
                    <input type="text" placeholder="Surname" required>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <div class="link">
                        <button type="submit" class="login">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    
</html>