<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Alberto Kerim, Nino Nogić, Petar Pandža">
        <meta name="keywords" content="">

        <title>City-CTRL</title>

        <link rel="stylesheet" href="./css/login.css">
    </head>

    <body>
        <div class="container flex">
            <div class="login-page flex">
                <div class="text">
                    <h1>Pasword reset</h1>
                </div>
                <form action="/user/changePassword" method="post">
                    <input name="password" type="password" placeholder="New password" required>
                    <div class="link">
                        <button type="submit" class="login">Confirm</button>
                    </div>
                    <hr>
                    <div class="button">
                        <a href="/register">Create new account</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
    
</html>