<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Alberto Kerim, Nino Nogić, Petar Pandža">
        <meta name="keywords" content="">

        <title>Dashboard</title>

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>

        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/dashboard" class="logo">
                <i class='bx bx-code-alt'></i>
                <div class="logo-name"><span>City</span>CTRL</div>
            </a>
            <ul class="side-menu">
                <li><a href="/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
                <li class="active"><a href="/notifications"><i class='bx bx-message-square-dots'></i>Notifications</a></li>
                <li><a href="/parkingMap"><i class='bx bx-message-square-dots'></i>Parking map</a></li>
                <li><a href="/reports"><i class='bx bx-clipboard'></i>Reports</a></li>
                <li><a href="/settings"><i class='bx bx-cog'></i>Settings</a></li>
            </ul>
            <ul class="side-menu">
                <li>
                    <a href="/dashboard/logout" class="logout">
                        <i class='bx bx-log-out-circle'></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <!-- End of Sidebar -->

        <!-- Main Content -->
        <div class="content">
            <!-- Navbar -->
            <nav>
                <i class='bx bx-menu'></i>
                <form action="#">
                    <div class="form-input">
                        <input type="search" placeholder="Search...">
                        <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                    </div>
                </form>
                <i class='bx bxs-moon'></i><input type="checkbox" id="theme-toggle" hidden>
                <label for="theme-toggle" class="theme-toggle"></label>
                <a href="/settings" class="profile">
                    <img src="images/profile-1.jpg">
                </a>
            </nav>

            <!-- End of Navbar -->

            <main>
                <div class="header">
                    <div class="left">
                        
                    </div>
                </div>


                <div class="bottom-data">
                    <div class="orders">
                        <div class="header">
                            <i class='bx bx-receipt'></i>
                            <h3>New messages</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>Messgage</td>
                                    <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                    <!-- End of Reminders-->
                </div>

                
            </main>

        </div>
        <br><br><br><br>
        <script src="./js/index.js"></script>
    </body>

</html>